---
on:
  push: {}

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
      - name: install libpcap
        run: sudo apt install -y libpcap-dev
      - name: setup
        run: make setup
      - name: Set skips on ci run
        run: |
          if [[ $GITHUB_REF_PROTECTED =~ "true" ]]; then
            echo "SKIP=no-commit-to-branch" >> $GITHUB_ENV
          fi
      - name: run pre-commit
        run: pre-commit run --show-diff-on-failure --all-files
