---
on:
  push:
    branches:
      - main

jobs:
  ci-build:
    strategy:
      matrix:
        go-version:
          - 1.18.2
        os:
          - ubuntu-latest
          - ubuntu-20.04
          # - macos-latest
          # - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: install required packages
        run: sudo apt install -y libpcap-dev

      - uses: actions/checkout@v3

      - run: git fetch --prune --unshallow

      - uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}

      - name: Install Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Go version
        run: go version

      - name: Test
        run: go test ./... -v

      - name: Build
        run: go build

  semantic-release:
    needs:
      - ci-build
    uses: rwxd/gh-templates/.github/workflows/common-semantic-release.yml@main
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}

  goreleaser:
    needs:
      - semantic-release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: install required packages
        run: sudo apt install -y libpcap-dev

      - name: Set up Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@b508e2e3ef3b19d4e4146d4f8fb3ba9db644a757 # v3.2.0
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
